*, *::before, *::after {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    color: white;
  }
  
  .container {
    height: 600px;
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #text {
    background-color: darkslategray;
    border-radius: 8px;
    width: 525px;
    max-width: 90%;
  }
  
  .btn-grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    margin-top: 20px;
  }
  
  .btn {
    height: 300px;
    width: 175px;
    background-color: chocolate;
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }